<div class ="produto-detalhe-container" *ngIf="produtoId">
    <h2>Detalhes do Produto</h2>
    <div *ngIf="produtoId; else noProduct">
        <p><strong>ID:</strong> {{ produtoId }}</p>
        <p><strong>Nome:</strong> {{ produtos[produtoId - 1]?.nome }}</p>
        <p><strong>Descrição:</strong> {{ produtos[produtoId - 1]?.descricao }}</p>
        <p><strong>Preço:</strong> {{ produtos[produtoId - 1]?.preco | currency:'BRL' }}</p>
        <p><strong>Em Estoque:</strong>
            <span *ngIf="produtos[produtoId - 1]?.emEstoque; else outOfStock" class="text-success">Sim</span>
            <ng-template #outOfStock><span class="text-danger">Não</span></ng-template>
        </p>
    </div>
    <ng-template #noProduct>
        <div class="alert alert-warning" role="alert">
            Produto não encontrado.
        </div>
    </ng-template>
    <button class="btn btn-secondary" routerLink="/produtos">Voltar para Produtos</button>